<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="facebook-chrome">
  <parameter name="browser" value="Chrome"></parameter>
      <classes>
      <class name="practice.Dynamicwebtable"/>
    </classes>

  </test> <!-- facebook -->
    <test thread-count="5" name="facebook-edge">
  <parameter name="browser" value="Edge"></parameter>
      <classes>
      <class name="practice.Dynamicwebtable"/>
    </classes>
    
  </test> <!-- facebook -->
  <test thread-count="5" name="facebook-firefox">
  <parameter name="browser" value="Firefox"></parameter>
      <classes>
      <class name="practice.Dynamicwebtable"/>
    </classes>
  
  </test> <!-- facebook -->

</suite> <!-- Suite -->
